*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: rgb(202, 198, 190);
}
#equal{
    background-color: rgb(66, 66, 231);
    
}
#ac{
    background-color: rgb(214, 37, 170);
    
}
#ca{
    background-color: orange;
}

.container
{
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 60vh;
    padding: 10px;

    
    border-radius: 10px;

    
  box-shadow: inset 1px 1px 5px rgb(110, 110, 106),inset -1px -1px 5pxrgb(127, 128, 123);
    
}
input{
    width: 100%;
    height: 10vh;
    text-align: center;
    box-shadow: 6px 6px 10px grey,-3px -3px 5px rgb(240, 246, 248),inset 5px 5px 5px rgb(179, 175, 175),inset -5px -5px 5px rgb(172, 166, 166);
    border-radius: 10px;
    border-color: lightgray;
    border: none;
    font-size: 30px;
    font-family: cursive;

}
input:hover{
    background-color: rgb(231, 228, 228);
    color: black;
    box-shadow: -5px -5px 8px grey,5px 5px 8px white;

}
table tr td{
    padding: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    border-radius: 6px;
    box-shadow: -6px -6px 8px grey;
   
    
    
}
table tr td:nth-child(2n):hover{
    background-color: orange;
    color: white;
    box-shadow: 5px 5px 10px white,-5px -5px 10px white;
}
table tr td:hover{
    background-color: rgb(116, 116, 199);
    color: white;
    box-shadow: 10px 10px 10px white,-10px -10px 10px white;
    text-shadow: 2px 2px 5px rgb(255, 253, 253);
    transform: rotateX(degree(360));

}
table{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: inset 2px 2px 5px black,2px 2px 5px black;
    border-radius: 10px;
}
